*.mbtiles filter=lfs diff=lfs merge=lfs -text
*.mlmodel filter=lfs diff=lfs merge=lfs -text
WeatherApp/WeatherApp/Unnamed[[:space:]]atlas.mbtiles filter=lfs diff=lfs merge=lfs -text
EmotionDetectionApp/EmotionDetectionApp/Resources/CNNEmotions.mlmodel filter=lfs diff=lfs merge=lfs -text
